.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#111 ;
    height: 40px;
    display: flex;
    justify-content: space-between;

}


.logo{
 position: fixed;
 left: 20px;
 width: 80px;

}
.avatar{
    position: fixed;
    right: 20px;
    width: 30px;
}